/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');
/*
=============== 
Variables
===============
*/

:root {
  /*primary colors*/
  --clr-dark-cyan: hsl(158, 36%, 37%);
  --clr-darker-cyan: hsl(158, 49%, 23%);
  --clr-cream: hsl(30, 38%, 92%);
  /* Neutral */
  --clr-white: hsl(0, 0%, 100%);
  --clr-dark-grayish-blue: hsl(228, 12%, 48%);
  --clr-very-dark-blue: hsl(212, 21%, 14%);
  /* other */
  --ff-primary: 'Montserrat', sans-serif;
  --ff-secondary: 'Fraunces', 'sans-serif';
  --transition: all 0.3s linear;
  --spacing: 0.3rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

img {
  width: 100%;
  display: block;
}

/*
=============== 
Card
===============
*/

.main {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: var(--clr-cream);
}

.card {
  background: var(--clr-white);
  width: 70vw;
  border-radius: 0.75rem;
  max-width: 400px;
}
.card-img {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}
.card-description {
  padding: 1rem;
}
.card-description h3 {
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  margin-bottom: 0.5rem;
  color: var(--clr-dark-grayish-blue);
  font-weight: 500;
  font-size: 0.75rem;
}
.card-description h1 {
  font-family: var(--ff-secondary);
  font-size: 2.2rem;
  line-height: 1;
  margin-bottom: 0.5rem;
}
.card-description p {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: var(--clr-dark-grayish-blue);
}
.card-price {
  display: flex;
  align-items: center;
}
.card-price p:last-child {
  text-decoration: line-through;
  padding-left: 1rem;
}
.price {
  font-family: var(--ff-secondary);
  color: var(--clr-dark-cyan);
  font-size: 2rem;
}
.card-btn {
  width: 100%;
  height: 2.5rem;
  border-radius: 0.5rem;
  background: var(--clr-dark-cyan);

  display: flex;
  place-items: center;
  justify-content: center;
}
.icon-cart {
  width: 1.2rem;
  height: 1.2rem;
}
.card-btn h2 {
  color: var(--clr-white);
  font-weight: 600;
  font-size: 1rem;
  padding-left: 0.75rem;
}
.card-btn:hover {
  background: var(--clr-darker-cyan);
}

@media screen and (min-width: 768px) {
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 600px;
    align-items: center;
  }
  .card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.5rem;
  }
  .card-description h3,
  .card-description h1,
  .card-description p,
  .card-price {
    margin-bottom: 1rem;
  }
}
